{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier",
    "plugin:require-extensions/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "require-extensions"
  ],
  "rules": {
    "prettier/prettier": "error",
    // not needed for vue 3
    "vue/no-multiple-template-root": "off",
    "@typescript-eslint/consistent-type-imports": "error"
  }
}
